<div class="row">
    <div class="col-md-4 ">
        <h2 class="contactHeading">CONTACT US</h2>


        <address class="vcard ">
            <span class="fn org">{{defaults.companyName}}</span>
            <div class="adr">
                <div class="street-address">{{defaults.companyAdressStreet}}</div>
                <div class="locality">{{defaults.companyAddressTownCity}}</div>
                <div class="county">{{defaults.companyAddressCounty}}</div>
                <div class="postal-code">{{defaults.companyAddressPostcode}}</div>
                <div class="country-name">{{defaults.companyAddressCountry}}</div>
            </div>
            <div id="hcard-Tony">
                <span>Email: </span>
                <a href="mailto:{{defaults.companyName}}">{{defaults.companyEmail}}</a>
                <div class="tel">Tel: <span class="number">{{defaults.companyTelephone}}</span></div>
                <div class="tel">
                    Mobile: <span class="mobile number">{{defaults.companyMobile}}</span>
                </div>
            </div>
        </address>
    </div>


    <div id="map" class="col-md-7 "></div>

</div>


