<div id="home" class="row">
    <div class="col-md-offset-1 col-md-10">
        <p>
            <span class="companyName">{{defaults.companyName}}</span> is a fast growing business
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et ex ultricies, facilisis nibh id, ultrices ex. Vivamus enim nisi, pharetra sed rhoncus nec, dapibus id turpis. Suspendisse vitae convallis quam, ac iaculis purus. Nullam sodales, magna sit amet sagittis imperdiet, erat massa sollicitudin nisl, id auctor metus ex et metus. Sed in mauris in nisi sagittis lobortis. Pellentesque bibendum eu tellus sed sagittis. Integer ac interdum est.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet tristique justo, a blandit augue accumsan in. Ut in nibh diam. In dignissim urna vel urna facilisis malesuada. Quisque nec egestas lacus. Nam et iaculis libero. Suspendisse in eros eros. Morbi tristique venenatis dolor eget luctus. In eget porttitor erat, at vehicula nisi. Duis non purus quis urna euismod elementum. Suspendisse potenti. Integer eu nulla sem. Praesent nibh mi, vehicula et pulvinar quis, ultricies sit amet tortor. Phasellus hendrerit bibendum ligula eget laoreet.
        </p>
    </div>
</div>